@use "variable" as variable;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.fw-b {
  font-weight: bold;
}

.mr-20 {
  margin-right: 20px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.color-red {
  color: variable.$color-red;
}

.width-100 {
  width: 100%;
}

.position-rel {
  position: relative;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.error-text {
  color: variable.$color-red;
  font-size: 12px;
  max-width: 384px;
}

.position-abs {
  position: absolute;
}
.position--right {
  top: 10px;
  right: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
}

.checkbox-label {
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  color: #2f2f2f;
}

button {
  background: variable.$primary;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
}

input {
  border-radius: 5px;
  padding: 9px;
  outline: none;
  border: 1px solid variable.$color-gray;
  color: variable.$color-back;

  &::placeholder {
    color: variable.$color-back;
  }
}

.theme-dark {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: variable.$color-back;
  color: variable.$color-white;
}

.theme-light {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: variable.$color-white;
  color: variable.$color-back;
}
.text-a-c {
  text-align: center;
}
// mor training
.form-custom {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  .form-title {
    font-weight: bold;
    font-size: 30px;
  }
  .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .form__label {
      width: 20%;
      align-self: flex-start;
      font-weight: bold;
    }
    .form__field {
      width: 75%;
      max-width: 500px;
      input {
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #bababa;
        outline: none;
      }
      &--start {
        display: flex;
        justify-content: flex-start;
      }
    }
    .form__error {
      margin-top: 0.25rem;
      height: 0.9rem;
    }
    .error__message {
      color: #ff0000;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
}

.table {
  border: 1px solid #666666;
  border-spacing: 5px;
  max-width: 800px;
  &--row {
    border-bottom: 1px solid #666666;
    &:last-of-type {
      border-bottom: none;
    }
  }
  &--rowHeader {
    border-bottom: 1px solid #666666;
    background: greenyellow;
  }
  &--cell {
    width: 300px;
    border-left: 1px solid #666666;
    padding-left: 20px;
    &__checkbox {
      width: 90px;
    }
    &__rowNo {
      width: 100px;
    }
    &:first-of-type {
      border-left: unset;
    }
  }
  &--cellHeader {
    width: 300px;
    border-left: 1px solid #666666;
    padding-left: 20px;
    text-align: center;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pl-20 {
  padding-left: 20px;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.mt-50 {
  margin-top: 30px;
}
//tictaxtoe
.square {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid;
  cursor: pointer;
}
